.oscope-button-horizontal {
    /* Button height based on measurements of relative size on case */
    width: 2.90dvw;
    height: 3.31dvh;
    background: blue;
}

.oscope-button-vertical {
    /* Button height based on measurements of relative size on case */
    width: 1.58dvw;
    height: 6.10dvh;
    background: blue;
}

.oscope-button-tilted {
    /* Button height based on measurements of relative size on case */
    width: 2.90dvw;
    height: 6.10dvh;
    background: blue;
}

.oscope-frame {
    display: grid;
    position: fixed;
    inset: 0;
    margin: auto;
    /* Aspect ratio ~ 2.09 */
    width: 100rem;
    aspect-ratio: 2.09;
    /* Establishes the 55.3/44.7 column split. */
    grid-template-columns: 1.192fr 0.808fr;
    grid-template-areas:
        'frame-left frame-right';
}

.oscope-frame-left {
    grid-area: frame-left;
    position: absolute;/*
    display: grid;
    grid-template-areas:
        'frame-left-top';
        'frame-left-right'
        'frame-left-bottom'
        'frame-left-left'
        'frame-left-screen';*/
    background-color: #b09879;
    border-radius: 5%;
}

/* This is a pseudo element that adds the shade and bevel on the inner rim of
the frame around the screen. */
.oscope-frame-left:after {
    content: "";
    background-color: #ac8f6c;
    position: absolute;
    inset: 11.5% 6.5% 11% 6.5%;
    border-radius: 5%;
}

.oscope-frame-right {
    /* Not yet implemented */
    display: grid;
    position: absolute;
    grid-area: frame-right;
    justify-self: right;
}


