




.oscope-screen-left {
    display: flex;
    grid-area: frame-left-left;
    /* Button height based on measurements of relative size on case */
    width: 8dvw;
    justify-content: center;
    align-items: end;
}





.oscope-screen {
    grid-area: frame-left-screen;
    /* Button height based on measurements of relative size on case */
    width: 42dvw;
    height: 67dvh;
    /* FIXME!
    
    Problem here! - The grey shows through on the corners and the corners
    have the wrong shape on the bottom (not slanted). Would also look better
    curved instead of cut.

    Fixing this will likely require more drawing in Inkscape. */
    /* background-color: grey;
    background-image: url('oscilloscope-screen-clock_plain.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px solid red;
    border-image-slice: 6;
    border-image-source: url("oscilloscope-screen-black_plain.png");*/
}

@media (min-width: 50em) {
    .oscope-frame {
        grid-template-areas:
            'frame-left frame-right';
    }

    .oscope-frame-left {
        grid-template-areas:
            'frame-left-top frame-left-top frame-left-top'
            'frame-left-left frame-left-screen frame-left-right'
            'frame-left-left frame-left-bottom frame-left-right'
    }
}




